{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h2>{{post.title}}</h2>
  <h4>Written by {{post.author.username}}</h4>
  <p class="text-muted">{{post.date.strftime('%B %d, %Y')}}</p>
  <p>{{post.text}}</p>

  {% if post.author == current_user%}
  <div>
    <button
      type="button"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#del_modal"
    >
      Delete
    </button>
  </div>
  {% endif %}
</div>
<div class="modal" tabindex="-1" role="dialog" id="del_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Post?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>

        <form
          action="{{url_for('users_posts.delete_post',blog_post_id=post.id)}}"
          method="post"
        >
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
