{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>About Us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat
    commodo nibh, quis condimentum erat pretium ut. Aliquam porta eu sapien id
    rutrum. Donec nec diam nunc. Quisque semper ipsum in mauris ultricies, nec
    molestie eros sodales. Donec nec magna libero. Aliquam odio risus, cursus at
    magna nec, bibendum efficitur magna. Vivamus lacinia diam sit amet mollis
    varius. Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames ac turpis egestas. Donec scelerisque ullamcorper quam, a faucibus
    lacus sodales ac. Etiam dapibus ex id magna lobortis vehicula. Duis vitae
    dolor eget ex euismod lacinia. In tempor commodo mi, non porttitor tortor
    suscipit et.
  </p>
</div>
{% endblock %}
